__pycache__/
*.pyc
venv/
.env
.env.*
# Ignore all data (embeddings, indexes etc)
data/*

# BUT keep docs folder tracked (so Render can ingest)
!data/docs/
!data/docs/**
*.faiss
*.index
*.csv
*.jsonl
.DS_Store
.vscode/

